/* --- General Styles --- */
body {
  margin: 0;
  background-color: #121212;
  color: #ffffff; /* This color is inherited by child elements */
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --- Layout --- */
header img {
  width: 100%;
  max-height: 240px;
  object-fit: cover;
}

.section {
  margin: 30px auto;
  width: 90%;
  max-width: 960px;
  text-align: center;
}

/* --- Components --- */

/* Generic container for cards */
.extensions,
.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

/* Extension Cards */
.card {
  background: #1e1e1e;
  border-radius: 10px;
  width: 240px;
  padding: 30px 20px;
  text-align: center;
  transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  background: #000000;
  transform: scale(1.05);
  box-shadow: 0 0 15px #ffd200;
}

.card img {
  max-width: 50px;
  height: auto;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.card:hover img {
  animation: pulse 0.6s ease-in-out infinite;
}

.card a {
  color: #969696;
  text-decoration: none;
  display: block;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

h1,h2{
 text-transform: uppercase;
 font-weight: 600;
}


.card small {
  font-weight: 200;
  font-size: 16px;
  transition: color 0.3s ease;
}

.card a:hover small {
  color: #ffd200;
  font-weight: 400;
}
.card:hover h3{
  color: #fff;
}
/* Social Links */
.socials a {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #1f1f1f;
  padding: 10px 16px;
  border-radius: 30px;
  text-decoration: none;
  color: #ffffff;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s, color 0.3s;
}

.socials a:hover {
  background: #000000;
  transform: translateY(-3px);
  box-shadow: 0 0 15px #ffd200;
  color: #ffd200;
}

.socials a img {
  width: 28px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.socials a:hover img {
  animation: pulse 0.6s ease-in-out infinite;
}

.try-apps{
    height: 40px;
    padding: 0 10px;
    margin-top: 15px;
}

/* --- Animations --- */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* --- Responsive --- */
@media screen and (max-width: 600px) {
  .card {
    width: 90%;
  }

}
